// ======== partnar css start ========//

#partner {
    position: relative;

    .partner-after {
        position: absolute;
        right: 0;
        top: -20px;
    }
}

// ======== partnar css end ========//